 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
        .container{
         background: url(../image/netflix\ img.jpg) rgba(38,38, 38, 0.9);
         height: 700px;
         width: 100%;
        background-blend-mode: darken;
      background-repeat: no-repeat;
           background-size: cover;
            }
        .nav{
            display: flex;
            margin-left: 100px;
        }
        .net{
            width: 100px;
            
           
            font-weight: bolder;
        }
        .Language{
            font-size: medium;
            border: 2px solid white;
            border-radius: 2px;
            width: 90px;
            color: white;
            display: inline;
            border-radius: 2px;
           margin-top: 35px;
           margin-left: 810px;
           height: 30px;
           text-align: center;
           padding-top: 5px;
           }
        .s{
            background-color: red;
            border: 1px solid red;
            height: 30px;
            width: 60px;
            border-radius: 2px;
            color: white;
            display: inline;
            font-weight: bold;
             margin-top: 35px;
           margin-left: 20px;
           text-align: center;
           padding-top: 5px;
            }
       .title{
            color: white;
            font-size: 50px;
            font-weight: bolder;
            margin-top: 200px;
            margin-left: 220px;
            font-family: sans-serif;
        }
        .sub{
            color: white;
            font-size: 30px;
             margin-top: 15px;
            margin-left: 450px;
            font-family: sans-serif;
        }
        .ssub{
            color: white;
            font-size: 25px;
            margin-top: 15px;
            margin-left: 260px;
            font-family: sans-serif;
        }
        .form{
            color: white;
            font-size: 30px;
            margin-top: 5px;
            margin-left: 400px;
            font-family: sans-serif;
            
        }
        .email{
            height: 40px;
            width: 350px;
            border: 1px solid white;
            font-size: 17px;
            border-radius: 5px;
            color: white;
            background-color: rgba(0, 0, 0, 0.4);
            margin-top: 10px;
            
            
        }
        .button{
            height: 40px;
            width: 190px;
            border: none;
            border-radius: 5px;
            font-size: 22px;
            color: white;
            background-color: red;
         

            
            
            
        }
        .tv{
            background-color: black;
            height: 550px;
            margin-top: 5px;
            display: flex;
            }
        .a{
            font-size: 50px;
            color: white;
            font-weight: bolder;
            font-family: sans-serif;
            padding-top: 200px;
            padding-left: 150px;
        }
        .b{
            font-size: 20px;
            color: white;
            font-family: sans-serif;
            padding-top: 20px;
            padding-left: 150px;
        }
        .img{
            height: 250px;
            width: 300px;
            margin-left: 20px;
            
        }
        .mobile{
            background-color: black;
            height: 550px;
            margin-top: 5px;
            display: flex;
            }
        .mmm{
            display: flex;
            margin-left: 130px;
            margin-top: 70px;
        }
        .m{
            height: 50px;
            width: 100px;
        }
        .bo{
            border: 1px solid silver;
            height: 100px;
            width: 270px;
            margin-top: 270px;
            padding-top: 10px;
            padding-left: 10px;
            background-color: black;
            margin-left: 30px;
        }
        .show{
            font-size: 50px;
            color: white;
            font-weight: bolder;
            font-family: sans-serif;
            padding-top: 200px;
            padding-left: 120px;
        }
        .k{
            font-size: 25px;
            color: white;
            font-family: sans-serif;
            padding-top: 20px;
            padding-left: 120px;
        }
        .u{
            font-size: 20px;
            color: white;
            font-family: sans-serif;
            margin-left: -190px;
            margin-top: -25px;
        }
        .d{
            font-size: 15px;
            color: blue;
            font-family: sans-serif;
            
        }
        .l{
            color: white;
            padding-left: 150px;
            padding-top: 200px;
        }
        .ll{
            font-size: 50px;
            font-family: sans-serif;
            font-weight: bolder;
        }
        .lll{
            font-size: 20px;
            font-family: sans-serif;
            
        }
        .p{
            margin-top: 50px;
            
        }
        .ss{
            margin-top: 200px;
            font-size: 50px;
            font-weight: bolder;
            font-family: sans-serif;
            color: white;
            
        }
        .kk{
            font-size: 20px;
             font-family: sans-serif;
            color: white;
            font-weight: 100;
            
        }
        .new{
            background-color: black;
            height: 150px;
            margin-top: 5px;
            
        }
        .tt{
            font-size: 50px;
             font-family: sans-serif;
            color: white;
            font-weight: bolder;
            margin-top: 40px;
            margin-left: 320px;
            display: inline-block;
        }
        .w{
            color: white;
            font-size: 40px;
        }
        .new{
            background-color: black;
            height: 120px;
}
        .bbb{
            background-color: black;
            height: 700px;
        }
        .badhu{
            border: 1px solid gray;
            height: 80px;
            width: 1000px;
            background-color: gray;
            color: white;
            margin-left: 160px;
            font-size: 30px;
            padding-top: 20px;
            padding-left: 20px;
            display: flex;
                }
        .badh{
            border: 1px solid gray;
            height: 80px;
            width: 1000px;
            background-color: gray;
            color: white;
            margin-left: 160px;
            font-size: 30px;
            padding-top: 20px;
            padding-left: 20px;
            margin-top: 10px;
            display: flex;
            }
        .h{ 
            margin-top: 50px;
            margin-left: 320px;
            font-size: 20px;
            color: white;
            font-family: sans-serif;
        }
        .footer{
            background-color: black;
            height: 400px;
            margin-top: 5px;
            display: flex;
            }
        .fs{
            margin-top: 80px;
            margin-left: 110px;
            color: gray;
            font-size: 20px;
            font-family: sans-serif;
        }
        .fl{
            margin-top: 150px;
            margin-left: 20px;
            color: gray;
            font-size: 20px;
            font-family: sans-serif;
            text-decoration: underline;
            padding-left: 50px;
           }
        .Lan{
           margin-top: 350px;
           margin-left: -1050px;
           }

         ul{
            list-style:none;
           }
        .s1{
           
           margin-left: 730px;
           }
           .s2{
           
           margin-left: 560px;
           }
           .s3{
           
           margin-left: 680px;
           }
           .s4{
           
           margin-left: 710px;
           }
           .s5{
           
           margin-left: 560px;
           }
           .s6{
           
           margin-left: 600px;
           }
           .ifram{
           margin-top: 100px;
           margin-left: -215px;
          
           
           }